* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff8f8;
  font-family: Arial, Helvetica, sans-serif; }

.center {
  text-align: center; }

#menu-principal a {
  font-size: 30px;
  display: inline-block;
  width: 100%;
  padding: 0;
  color: #525252;
  transition: font-size 0.5s; }

#menu-principal a:hover {
  font-size: 120%; }

#menu-principal a.activo {
  color: #fb7a7a; }

header {
  background-image: linear-gradient(90deg, #ffcece 50%, #fff8f8);
  padding: 24px 14px 14px 14px;
  text-align: center; }

header nav {
  text-align: center; }

header nav li {
  display: inline-block;
  border-bottom: 0 none;
  padding: 0 20px; }

.logo-image {
  width: 200px;
  margin: 0 auto 20px auto;
  display: block; }

#contenido {
  color: #484848;
  padding: 20px 0; }

.contenido-index {
  padding: 0 !important; }

.portada-gradiente {
  background-image: linear-gradient(90deg, white, transparent); }

#foto-portada {
  width: 100%;
  display: block; }

h1, h2 {
  text-align: center;
  margin-bottom: 24px; }

h2 {
  text-decoration: underline; }

#contenido h1 {
  opacity: 0.1;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-name: animacionh1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes animacionh1 {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

ul {
  list-style-type: none;
  font-size: 0;
  margin: 0 !important;
  padding: 0 !important; }

li {
  font-size: 30px;
  text-align: center; }

a {
  text-decoration: none; }

#sidebar {
  background-image: linear-gradient(90deg, #ffcece 50%, #fff8f8); }

nav li {
  border-bottom: solid 1px #fff8f8; }

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.5) !important; }

ul li {
  height: 50px; }

nav a {
  color: black;
  padding: 0 20px;
  line-height: 50px; }

#navbar {
  padding: 20px 0 0 0; }

p {
  text-align: justify;
  margin: 0% 10% 5% 10%;
  line-height: 1.5rem; }

.nosotras {
  text-align: center; }

.nosotras img {
  display: inline-block; }

form {
  padding: 30px 50px;
  text-align: center;
  padding-bottom: 30px; }

label {
  display: block;
  color: #898989; }

input {
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  border: 2px solid #bbbbbb; }

.boton-enviar {
  margin-top: 10px;
  padding: 6px 10px;
  background-color: #ffcece;
  border: 2px solid #d59898;
  border-radius: 10px; }

footer {
  background-color: #402f2f;
  padding: 30px;
  text-align: center;
  font-size: 16px;
  border-top: 1px solid #8b8b8b;
  color: #9b9b9b; }

.container img {
  width: 100%; }

.card {
  border-radius: 30px;
  border: 2px solid #ca8282; }

/* Phone Styles */
@media only screen and (max-width: 599px) {
  header nav li {
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
    border-top: solid 1px black; }
  header {
    border-right: 0 none; }
  nav {
    border: 0 none; }
  .submenu-li {
    display: none; }
  .nosotras img {
    margin: 20px;
    width: 80%; }
  .container img.card {
    opacity: 1; } }

/* Tablet Styles */
@media only screen and (min-width: 600px) {
  .logo-image {
    width: 220px; }
  .nosotras img {
    margin: 20px;
    width: 80%; }
  .submenu-li {
    display: none; }
  .container img.card {
    opacity: 1;
    border: 2px solid #ca8282; } }

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  #layout-grid {
    display: grid;
    grid-template-areas: "sidebar contenido" "footer footer";
    grid-template-columns: 300px auto; }
  #sidebar {
    grid-area: sidebar; }
  footer {
    grid-area: footer; }
  #contenido {
    grid-area: contenido; }
  #menu-principal {
    width: 100%; }
  #menu-principal, #menu-principal ul {
    padding: 0; }
  .submenu-li {
    display: block;
    height: auto !important; }
  .submenu-li a {
    font-size: 60% !important; }
  nav {
    width: 300px;
    text-align: center; }
  .nosotras img {
    width: 24%;
    margin: 20px; }
  .container img.card {
    transition: 0.5s all;
    border-radius: 30px;
    opacity: .8;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0) !important; }
  .container img.card:hover {
    opacity: 1;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75) !important; }
  #navbar {
    padding: 20px 0 80px 0; } }
