* {
  padding: 0;
  margin: 0;
}
body {
  background-color: $pink-extra-light;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  @include text_align_center;
}

h1, h2 {
  @include text_align_center;
  margin-bottom: 24px;
}
h2 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  font-size: 0;
  margin: 0 !important;
  padding: 0 !important;
  li {
    @include text_align_center;
    font-size: $font-size * 2;
  }
}
p {
  text-align: justify;
  margin: 0% 10px 5px 10px;
  line-height: 1.5rem;
}
a {
  text-decoration: none;
}
.custom-card {
  border-radius: 10px;
  border: 2px solid $pink;
  width: 100%;
}
.custom-card2 {
  @extend .custom-card;
}
.custom-pt-1 {
  padding-top: 21px;
}
.nosotras {
  @include text_align_center;
}
.card-descripcion {
  color: $gray;
  font-size: $font-size * 0.75;
}
form {
  @include text_align_center;
  width: 460px;
  padding: 30px 50px;
  padding-bottom: 30px;
}
label {
  display: block;
  color: $gray-light;
}
input {
  margin-bottom: 10px;
  width: 250px;
}
footer {
  @include text_align_center;
  background-color: $gray-extra-dark;
  padding: 30px;
  font-size: $font-size;
  border-top: 1px solid $gray-light;
  color: $gray-light;
}

/* Phone Styles */
@media only screen and (max-width: map-get($breakpoints, medium)) {
  .custom-card {
    opacity: 1;
  }
}

/* Tablet Styles */
@media only screen and (min-width: map-get($breakpoints, medium)) {
  .custom-card {
    opacity: 1;
  }
}

/* Desktop Styles */
@media only screen and (min-width: map-get($breakpoints, large)) {
  #layout-grid {
    display: grid;
    grid-template-areas:
      "sidebar contenido"
      "footer footer";
    grid-template-columns: 300px auto;
  }
  footer {
    grid-area: footer;
  }
  #contenido {
    grid-area: contenido; 
  }
  .custom-card {
    transition: 0.5s all;
    opacity: .8;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0) !important;
  }
  .custom-card:hover {
    opacity: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.75) !important;;
  }
}