@keyframes marquesina {
  0% { left: 100%; }
  100% { left: -100%; }
}

#sidebar {
  background-image: linear-gradient(90deg, $pink-light 50%, $pink-extra-light);

  nav {
    padding: 20px 0 0 0;

    .marquesina-contenedor {
      position: relative;
      overflow: hidden;
      height: 40px;
    }
    .marquesina {
      position: absolute;
      text-align: left;
      left: 100%;
      width: 100%;
      color: $gray;
      animation-duration: 8s;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-name: marquesina;
      animation-iteration-count: infinite;
    }

    .logo-image {
      width: 200px;
      margin: 0 auto 0 auto;
      display: block;
    }

    #menu-principal {
      li {
        border-bottom: solid 1px $pink-extra-light;
        height: 50px;
      }
      .nav-link.active {
        background-color: rgba(255,255,255,.5) !important;
      }
      a {
        font-size: $font-size * 1.5;
        display: inline-block;
        width: 100%;
        color: $gray;
        transition: font-size 0.5s;
        padding: 0 20px;
        line-height: 50px;
    
        &:hover {
          font-size: $font-size * 1.5 * 1.2;
        }
        
        &.activo {
          color: $pink-dark;
        }
      }
    }
  }
}

/* Phone Styles */
@media only screen and (max-width: (map-get($breakpoints, medium)- 1)) {
  #sidebar {
    nav {
      #menu-principal {
        .submenu-li {
          display: none;
        }
      }
    }
  }
}

/* Tablet Styles */
@media only screen and (min-width: map-get($breakpoints, medium)) {
  #sidebar {
    nav {
      .logo-image {
        width: 220px;
      }
      #menu-principal {
        .submenu-li {
          display: none;
        }
      }
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: map-get($breakpoints, large)) {
  #sidebar {
    grid-area: sidebar;

    nav {
      @include text_align_center;
      width: 100%;
      padding: 20px 0 80px 0;

      #menu-principal {
        width: 100%;
        padding: 0;
        
        ul {
          width: 100%;
          padding: 0;
        }

        .submenu-li {
          display: block;
          height: auto !important;

          a {
            font-size: $font-size * 2 * 0.6 !important;
          }
        }
      }
    }
  }
}




